/*
* Title: Great Wharton stylesheet v1.0
* Created: November 2015
* Author: The National Archives Web Team
*/

/* CSS Reset */



main{
    position: relative;
}


main .container {
    background-color: #faf8d6;
}
main .container{
    padding-bottom: 20px;
    margin-bottom:20px;
}
.caption{
    font-size: 1.2em;
}

* {
    margin:0;
    padding:0;
}
article,footer,header,nav {
    display:block;
}


body {
    font-family: 'Kameron', serif, Georgia, Arial, Verdana, sans-serif;
    color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size:1.1em;
    line-height: 2em;
    background-color: #000;

}

/*a {*/
/*outline:0;*/
/*}*/

img {
    border: 0;
}

.js .overlay,
.js .intro{
    display:none;
}


.f-grid {
    /*background: url(../images/tna-wharton-iso-grid.jpg);*/
    /*background-repeat: repeat;*/
    /*overflow: hidden;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    overflow: hidden;
}
.s-grid {
    background: url(../images/tna-wharton-background-page.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 15px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.s-grid h1 {
    width: 100%;
    clear:both;
    display:block;
}

html {
    width: 100%;
    height: 100%;
}
/* link styles
===================================*/

a:link, a:active, a:focus, a:visited, a:hover {
    text-decoration: none;
}

a:focus, input:focus {
    outline: #ebab00 solid 3px;
}

.content-columns a:link, .content-columns a:active, .content-columns a:visited {
    color: #5b1c1c;
    text-decoration: none;
    border-bottom: 1px dotted #5b1c1c;
}

.content-columns a:focus {
    background-color: #FCE45C !important;
    color: #000 !important;
}

.content-columns a:hover {
    color: #5b1c1c;
    text-decoration: none;
    border-bottom: none;
}

/* palette styles
===================================*/

.base {
    color: #f1edea;
}

.base-bg {
    background-color: #f1edea;
}

.black {
    color: #000;
}

/* heading styles
===================================*/

h1, .h1 {
    font-size: 4em;
    font-weight: normal;
}

h2, .h2 {
    font-size: 1.7em;
    font-weight: normal;
}

h3, .h3 {
    font-size: 1.4em;
    font-weight: normal;
}

/* page
===================================*/

.tna-brand-page img {
    max-width: 100%;
    height: auto;
}


/* button styles
===================================*/

a.button {
    background-color: #5b1c1c;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out 300ms;
    -moz-transition: background-color 300ms ease-out 300ms;
    -o-transition: background-color 300ms ease-out 300ms;
    transition: background-color 300ms ease-out 300ms;
    border-bottom: none;

}

a.button:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease-out 300ms;
    -moz-transition: background-color 300ms ease-out 300ms;
    -o-transition: background-color 300ms ease-out 300ms;
    transition: background-color 300ms ease-out 300ms;
    border-bottom: none;
}

/* custom responsive grid selectors
===================================*/

.wrapper {

    width: 100%;
    height: 100%;
    position: relative;

}




.info {
    margin:40px 0 0 0;
}
.info .button {
    font-size:1.6em;
}
.content-columns {
    font-size:1.6em;
}
.half {
    width: 100%;
    float: left;
}

.full {

    width: 100%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.full img {
    max-width: 400px;
    width: auto;
}

/* intro and info styles
===================================*/

.overlay {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 3000;
}

.intro{
    display:block;
    padding: 30px 25px 15px 25px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 55%;
    text-align: center;
    font-size: 1.6em;
    background-color: #faf8d6;
    margin-top: 10px;

}
.enter-box, .next-box{
    z-index: 4000;
    text-align: center;
}
.enter-box ul li{
    list-style: none;
    display: inline-block;
    margin-bottom:5px;
}
.enter-box{
    padding:10px;

}
.enter-box h2{
    font-size: 1.6em;
    margin-bottom: 20px;
    margin-top:5px;
}
.enter-box img{
    width:auto !important;
}
.enter-box .float-right{
    width:75% !important;
    text-align: left;
    padding-left:15px;
    display: table-cell;
    vertical-align: middle;
}
.enter-box .float-left{
    width:25% !important;
    padding:15px 5px 5px 5px;
    /*border-right:1px solid #d4d3c0;*/
    background-color: #e9e7c8;
    border:1px solid #d4d3c0;

}
.enter-box .clear-both{
    height:5px;
}
.enter-box .row{
    /*border-bottom: 1px solid #e9e7c8;*/

    padding: 10px;
margin-bottom:10px;
    width:80%;
    margin-right: auto;
    margin-left: auto;
    display: table;
}
.enter-box .col{
    width:31%;
    float:left;
    margin-left: 8.3px;
}
.enter-box .icon{
    padding:15px 5px 5px 5px;
    /*border-right:1px solid #d4d3c0;*/
    background-color: #e9e7c8;
    border:1px solid #d4d3c0;

}
.intro, .info{

    background-color: #faf8d6;

}
.intro img {
    width: 60%;
    max-width: 100%;
    margin-bottom: 10px;
}

.intro span img{
    width:250px;
    margin:0px;
}

.intro p{
    text-align:center;
    padding:10px;
}
.intro .small{
    font-size: 1em;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.close {

    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 2em;
    color: #5a6434;
    text-align: center;
    cursor: pointer;
    float:right;
    margin:10px 10px 0 0;

}

.close i, .about i {
    color: #5a6434;
    margin-top: 8px;
}

.about, .tna_brand{
    display: none;
    position: fixed;
    background-color: transparent;
    cursor: pointer;
}
.about {
    top: 15px;
    right: 15px;
    text-align: right;
    width: 44%;
}
.tna_brand {
    top: 15px;
    left: 15px;
    text-align: left;
    width: 44%;
}
.tna_brand img {
    width: 100%;
    max-width: 285px;
}
.about img {
    width: 100%;
    max-width: 160px;
}
.page-branding {
    margin-bottom: 1em;
}

.info .info_select select {
    background: transparent;
    width: 99%;
    padding: 5px 40px 5px 5px;
    font-size: 1.6em;
    border: 0;
    border-radius: 0;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
}

.info .info_select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: url("../images/drop_arrow.jpg") no-repeat right;
    border: 1px solid #e9e7c8;
    z-index:9999;
    position:relative;
}

.info .fa.fa-share-alt-square {
    font-size: 30px;
    color: #666f41
}

.info .title {
    max-width: 200px;
    padding: 10px;
    background-color: #faf8d6;
    margin:0 auto;
    display:block;
    position:relative;
    z-index:2;
    top:-70px;

}

.info-toolbar-right {
    floaT: right;
    display: inline-block;
    margin-bottom: 1em;
}

.info-toolbar-left {
    floaT: left;
    display: inline-block;
    margin-top: -61px;
}

.info-toolbar-right h2 {
    display: inline-block;
}

.info-toolbar-right .fa.fa-book {
    font-size: 30px;
    margin-lefT: 10px;
    color: #666f41
}

.info .share_this {
    display: inline-block;
}

.fa.fa-times {
    font-weight: 100;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.fa.fa-times:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.inner {

    border: 2px solid #5a6434;
    padding: 30px;
    margin-top: 29px;

}

.about img, .about-page img{
    width: 100%;
    max-width: 160px;
}
blockquote{
    padding:10px 20px;
    margin:0 0 20px;
    font-size: 1em;
    border-left:5px solid #5a6434;
}
.wp-caption{
margin-left: auto;
    margin-right: auto;
    padding:0;
    text-align: center;
}
.wp-caption img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption-text {
    position: relative;
    font-size: .8em;
    color: #000;
    /*clear: both;*/
    margin-bottom: .5em;
    text-align: center;
    margin-top: .5em;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

/* More info box
===================================*/
.more-info {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-info .col1 {
    width: 70%;
}

.more-info .col2 {
    width: 28%;
}

.stButton {
    float:left;

}
.st_sharethis_large {
    font-size: 1.6em;
    margin-left:5px;
    float:right;
}
.stButton:hover,
.st_sharethis_large:hover {
    cursor:pointer;
}

.st_sharethis_large {
    display:none;
}
/* images
===================================*/

.inline-img {
    width: 100%;
    max-width: 270px;
}

.tna_brand a {
    border:0;
}

.about-page {
    text-align: right;
}

.placeholder {
    background-color: #ddd;
    width: 100%;
    height: 250px;
    min-height: 200px;
    text-align: center;
    margin-top: 10px;
}

.feature-image {
    margin-bottom: 1em;
}

/* hr
===================================*/

hr, .hr {
    width: 100%;
    background: #5a6434;
    height: 2px;
    border: 0px;
    margin-bottom: 5px;
    margin-top:5px;
    clear: both;
}

.info hr {
    color:#5a6434;

}

.gr__hfront .intro,
.gr__hfront .overlay {
    display:none;
}
/* columns
===================================*/

.content-columns {
    /*    -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 98%;
        -moz-column-width: 98%;
        column-width: 98%;*/
}


/* borders
===================================*/

.border-none {
    border: none !important;
}

/* clear fixes
===================================*/

.clear-both {

    clear: both;
}

.clear-space {
    clear: both;
    height: 10px;
}

/* floats & alignments
===================================*/

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.alignright {
    float: right !important;
    margin-left: 10px;
}

.alignleft {
    float: left !important;
    margin-right: 10px;
}

.text-left {

    text-align: left;
}

.text-right {

    text-align: right;
}

.text-center {

    text-align: center;
}

/* padding and margins
===================================*/

.padding {
    padding: 10px !important;
}

.padding-left-extra {
    padding-left: 15px !important;
}

.padding-left-small {
    padding-left: 5px !important;
}

.padding-right-small {
    padding-right: 5px !important;
}

.padding-extra-big {
    padding: 15px !important;
}

.padding-top-extra {
    padding-top: 15px !important;
}

.padding-top-small {
    padding-top: 5px !important;
}

.padding-bottom-small {
    padding-bottom: 5px !important;
}

/* zoom viewer (for documents)
===================================*/

.canvas-viewer {
    position: relative;
    width: 4000px;
    height: 3000px;
    overflow: hidden;
    cursor: move;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/tna-wharton-background-v4-placeholder.jpg");
    background-repeat:no-repeat;
    background-size: 100% auto;
}

.main_background {
    position: relative;
    width: 4000px;
    height: 3000px;
    overflow: hidden;
    cursor: move;
}

.main_background div img {
    height:100%;
}

/* Zoom */
.map-zoom{
    position: fixed;
    bottom:10px;
    left: 10px;
    padding:10px;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    background-color: rgba(0, 0,0, 0.52);
    display: none;
    width:auto;

}
.map-zoom .fa-plus, .map-zoom .fa-minus{

    background-color: #000;
    padding: 5px;
}
    /* Learn more */

.learn_more_wrap {
    bottom:10px;
    right:0;
    text-align:center;
    height: 110px;
    display:none;

}
.learn_more {
    background:#faf8d6;
    display:inline-block;
    float:left;
    padding:10px 20px;
    box-sizing:border-box;
    height:inherit;
    font-size:1.6em;
    position:relative;
    line-height:1.2em;

}
.learn_more_close {
    background:#e9e7c8;
    display:inline-block;
    position:relative;
    float:right;
    height:inherit;
    padding:5px;
    box-sizing:border-box;
    -webkit-box-shadow: inset 3px 0px 5px -2px rgba(199,196,155,1);
    -moz-box-shadow: inset 3px 0px 5px -2px rgba(199,196,155,1);
    box-shadow: inset 3px 0px 5px -2px rgba(199,196,155,1);
}
.learn_more_close .fa-angle-left,
.learn_more_close .fa-times {
    margin:36px 3px 3px 3px;
    color:#5a6434;
}
.learn_more_close .fa-angle-left:hover,
.learn_more_close .fa-times:hover {
    cursor:pointer;
}

.learn_more .button {
    display:block;
    text-align:center;
}

/* markers
===================================*/
a.marker, .marker-secret {
    width: auto;
    height: auto;
    padding:6px 6px 3px 6px;
    /*background: url("../images/tna-wharton-marker.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    position: absolute;
    /*-webkit-animation: pulse 1s linear infinite;*/
    /*animation: pulse 1s linear infinite;*/
    cursor: pointer;
    border-bottom:none !important;
    z-index:1001;
    background-color: #fff;
    color: #000;
    font-size:2em;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
}
a.marker:hover{
    -webkit-animation: pulse 1s linear infinite;
    animation: pulse 1s linear infinite;
}
a.marker:visited{
    color:#7b7b7b;

}
a.marker::after{
    content: "\f0d7";
    font-family: "FontAwesome";
    color:#fff;
    position: absolute;
    bottom:-15px;
    right:50%;
    font-size: 2em;

}
.canvas-viewer a:focus{
    box-sizing: border-box;
    /*border:2px solid #e67e22 !important;*/

    box-shadow: inset 0 -2px #e67e22;
}

.marker-secret {

    background-image: none !important;
}


#children {
    top:62%;
    left: 33%;
}

#munitions-factory {
    top:49.5%;
    right: 33.6%;
}


#child-labour {
    top:28.5%;
    right: 38.2%;

}

#forest {
    top:8.5%;
    right: 33.6%;
}
#industrial-action {
    top: 64%;
    right: 42%;
}
#munitions-workers {
    top: 52.7%;
    right: 40.3%;
}


#enemy-action {
    top: 40%;
    right: 35.1%;
}

#land {
    top: 27%;
    right: 71%;
}

#shop {
    top: 53.2%;
    left: 38.3%;
}


#houses {
    top: 46.6%;
    left: 22.2%;
}


#eggtrain {
    top: 79%;
    left: 14.5%;
}

#propaganda {
    top: 40%;
    left: 46.2%;
    width: 120px;
    height: 70px;
}

#scouts{
    top: 83.3%;
    left: 9%;
}
#police{
    top: 67.3%;
    left: 24.3%;
}

.characters {
    text-align: center;
}

.characters img {
    width: 100%;
    max-width: 390px;
}

.font-size {
    font-size:1.5em;
    float:right;
    text-align:right;
    width:auto;
    margin-left: 0;
    margin-right: 0;
    width:100%;
}

.font-size button {
    border-radius: 2px;
    padding:10px;
    border:0;
    background-color:#e9e7c8;
    -webkit-transition: background-color 300ms ease-out 100ms;
    -moz-transition: background-color 300ms ease-out 100ms;
    -o-transition: background-color 300ms ease-out 100ms;
    transition: background-color 300ms ease-out 100ms;
}
.font-size button:hover{
    background-color: rgba(199,196,155,1);
}
@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.dashit { display:inline-block; height:3px; position:relative; }


.outer {
    position: relative;
    z-index: 99998;
}

.tna_brand, .about, .learn_more_wrap, .map-zoom {
    z-index: 99999;
    position: absolute;
}

.canvas-viewer {
    z-index: auto;
}


@media (min-width: 1281px) {
    .intro {
        width:40%;
    }
}

@media (min-width: 1200px) {
    .page-branding .container {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .container {
        width:90%;
        padding: 0;
    }
    .inner {
        padding: 10px 10px 50px 10px;
        border-top: 2px solid #5a6434;
        border-bottom: 2px solid #5a6434;
        border-left: 0;
        border-right: 0;
    }
    .s-grid {
        padding-top:10px;
    }
    .overlay {
        width:100%;
        position:relative;

    }
    .info-toolbar-left {
        margin-top:-21px;
        float:none;
    }
    .info .title {
        top:-40px;
    }

    .close {
        margin:20px 10px 0 0;
    }

    .intro {
        display:block;
        padding: 20px 25px 15px 25px;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0%, 0%);
        width: 100%;
        height:100%;
        text-align: center;
        font-size: 1.2em;
        background-color: #faf8d6;
        box-sizing:border-box;
    }
    .intro img {
        width:40%;
    }
    .st_sharethis_large {
        width:100%;
        margin-top:10px;
    }
}

@media (max-width: 696px) {
    .info-toolbar-right {
        width: 100%;
    }
    .info .button {
        margin-bottom: 0.5em;
    }
}

/* ALL devices at viewport 450 */

@media (max-width:450px){

    .enter-box .col{
        width:100%;
        float:none;
    }

    .enter-box .row{

        width:100%;
    }

    .enter-box .float-right{
        width:60% !important;
        text-align: left;
        padding-left:15px;
    }
    .enter-box .float-left{
        width:40% !important;
        padding:5px;

    }

    .map-zoom {
        width:80px;
        padding:2px;
        text-align: center;
    }
    .tna-brand-page, .about-page {
        width: 100%;
        text-align: center;
    }
    .tna-brand-page img, .about-page img {
        margin: 0 auto;
    }
    .info-toolbar-right {
        width: 100%;
    }
    .info .button {
        margin-bottom: 0.5em;
        width: 100%;
        text-align: center;
    }
}
/* CSS print*/
@media print {
    .inner {
        border:none;
    }
    .inner img {
        width:300px;
    }
    .info-toolbar-left {
        display:none;
    }
}

/* IE 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .info .info_select {
        width: 100%;
        height: 40px;
        overflow: hidden;
        background: none;
        border: 1px solid #e9e7c8;
        z-index: 9999;
        position: relative;
    }
    .info .info_select select {
        width:100%;
        padding: 5px 5px 5px 5px;
    }
}

/* iPhone 6 portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
{
    .about {
        right: 5px;
        width: 30%;
    }
    .tna_brand {
        left: 5px;
    }

}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2)
{

    .learn_more_wrap {
        right:0px;
    }



}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {


    .intro{
        display:block;
        padding: 20px 25px 15px 25px;
        position: absolute;
        left: 25%;
        top: 10%;
        width: 60%;
        text-align: center;
        font-size: 1.6em;
        background-color: #faf8d6;

    }

}

